
.title {
	color: #5C6AC4;
}
#count{
 display: flex;
 justify-content: center;
 color: rgb(120, 231, 120);
 text-size-adjust: 50px;
}
.container{
background-color: black;
    padding: 25px;
  border: 2px solid black;
  width: 40%;
margin-top: 20%;
  border: none;
  border-radius: 20px;
  
}
